.gestionado:hover{

	background: $state-success-bg;
    color:#fff;
}

.contactibilidad:hover{

	background: $state-danger-bg;
    color:#fff;
}


.efectividad:hover{

	background: $state-info-bg;
    color:#fff;
}